:root {
  --azul: #3b82f6;
  --blanco: #ffffff;
  --gris-claro: #f5f5f5;
  --gris: #e7e7e7;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: var(--gris-claro)
}

/* Globales */

.container {
  width: 900px;
  margin: 0 auto;
}

/* Mensaje de error */
.error-msg {
  margin: 0 auto;
  padding: 5px 10px;
  background-color: red;
  width: 92%;
  color: var(--blanco);
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 30px;
  border-radius: 10px;
}

/* Header y NewBudget */
.header-budget-box {
  color:var(--azul);
  text-align: center;
  margin-top: 200px;
  background-color: var(--blanco);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 30px 14px rgba(0, 0, 0, 0.11);
}



.header-title {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
}

.budget-label {
  margin-top: -10px;
  display: block;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 30px;
}

.budget-input {
  width: 90%;
  text-align: center;
  font-size: 30px;
  border:none;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: var(--gris);
}

.budget-submit {
  margin-top: 25px;
  width:95%;
  padding: 10px 20px;
  border: none;
  background-color: var(--azul);
  color: var(--blanco);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  border-radius: 10px;
}

.budget-submit:hover {
  cursor: pointer;
  background-color: #1563e1;
  transition: 0.3s ease-in-out;
}