:root {
  --azul: #3b82f6;
  --blanco: #ffffff;
  --gris-claro: #f5f5f5;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: var(--azul)
}

/* Globales */

.container {
  width: 900px;
  margin: 0 auto;
}

/* Header y NewBudget */
.header-budget-box {
  color:var(--azul);
  text-align: center;
  margin-top: 200px;
  background-color: var(--blanco);
  padding: 30px;
  border-radius: 10px;
}



.header-title {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
}

.budget-label {
  margin-top: -10px;
  display: block;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 30px;
}

.budget-input {
  width: 90%;
  text-align: center;
  font-size: 30px;
  border:none;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: var(--gris-claro);
}

.budget-submit {
  margin-top: 25px;
  width:95%;
  padding: 10px 20px;
  border: none;
  background-color: var(--azul);
  color: var(--blanco);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  border-radius: 10px;


}