:root {
  --azul: #3b82f6;
  --blanco: #ffffff;
  --gris-claro: #f5f5f5;
  --gris: #e7e7e7;
  --gris-oscuro: rgb(97, 97, 97);
}

body {
  font-family: 'Lato', sans-serif;
  background-color: var(--gris-claro)
}

/* Globales */

.container {
  width: 900px;
  margin: 0 auto;
}

main {
  margin-bottom: 20px;
}

.flex {
  display: flex
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.fixate {
  overflow: hidden;
  height: 100vh;
}

.negative {
  color: #dc2626;
}

/* Mensaje de error */
.error-msg {
  margin: 0 auto;
  padding: 5px 10px;
  background-color: red;
  width: 92%;
  color: var(--blanco);
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 30px;
  border-radius: 10px;
}

/* Header y NewBudget */
.header-budget-box {
  color:var(--azul);
  text-align: center;
  margin-top: 50px;
  background-color: var(--blanco);
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0px 0px 30px 14px rgba(0, 0, 0, 0.05);
}

.header-title {
  margin-top: 100px;
  color: var(--azul);
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 700;
}

.budget-label {
  margin-top: -10px;
  display: block;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 30px;
}

.budget-input {
  width: 90%;
  text-align: center;
  font-size: 30px;
  border:none;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: var(--gris);
}

.budget-submit {
  margin-top: 25px;
  width:95%;
  padding: 10px 20px;
  border: none;
  background-color: var(--azul);
  color: var(--blanco);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  border-radius: 10px;
}

.budget-submit:hover {
  cursor: pointer;
  background-color: #1563e1;
  transition: 0.3s ease-in-out;
}

/* BudgetControl */
.budget-control-flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: left;
}

.budget-control-text {
  font-size: 25px;
  font-weight: 700;
}

.budget-control-text p {
  padding-bottom: 10px;
}

.budget-control-text span {
  color: var(--gris-oscuro)
}

.circle {
  width: 30%;
}

.reset-btn {
  color: white;
  width: 100%;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 8px;
  background-color: #db2777;
  border: none;
  border-radius: 7px;
}

.reset-btn:hover {
  cursor: pointer;
  background-color: #fd65aa;
  transition: 0.3s ease-in-out;
}

/* AddBtn (botón de nuevo gasto) */
.add-btn {
  position: fixed;
  width: 60px;
  right: 20px;
  bottom: 20px;
}

.add-btn:hover {
  cursor: pointer;
}

/* Modal */
.modal {
  position: absolute;
  background-color: rgb(0 0 0 / 0.90);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal-title {
  font-size: 40px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 200px;
  margin-bottom: 50px;
}

.modal-form {
  color: white;
  margin: 0 auto;
  text-align: center;
  max-width: 30%
}

.form {
  max-width: 100%;
}

.modal-form label {
  display: block;
  text-align: left;
  margin-bottom: 10px;
  font-size: 25px;
}

.form select {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px 15px;
  border-radius: 10px;
}

.modal-form input {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px 15px;
  border-radius: 10px;
}

.modal-form-btn {
  margin-top: 20px;
  width: 100%;
  border: none;
  background-color: var(--azul);
  color: var(--blanco);
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
}

.modal-form-btn:hover {
  cursor: pointer;
  background-color: #1563e1;
  transition: 0.3s ease-in-out;
}

.close-btn {
  position: absolute;
  width: 50px;
  right: 20px;
  top: 20px;
}
  
.close-btn:hover {
  cursor: pointer;
}

/* ExpList */
.exp-container {
  text-align: center;
  background-color: var(--blanco);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 30px 14px rgba(0, 0, 0, 0.05);
  margin-top: 20px;
  display: flex;
}

.exp-list-title {
  color: var(--gris-oscuro);
  font-size: 30px;
  margin-bottom: 10px;
}

.exp-info {
  margin-left: 30px;
  text-align: left;
  width: 100%;
}

.exp-info-cat {
  color: var(--gris-oscuro);
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.exp-info-name {
  color: var(--gris-oscuro);
  font-size: 20px;

}

.exp-info-date {
  font-weight: 700;
  color: var(--gris-oscuro);
}

.exp-info-span {
  font-weight: 400;
}

.exp-qty {
  align-self: center;
  color: var(--gris-oscuro);
  font-size: 35px;
  font-weight: 900;

}

.exp-icon {
  width: 100px
}

.buttons {
  width: 25%;
  margin-left: 40px;
  margin-right: -20px;
  padding: 20px;
}

.btn-edit {
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--azul);
  color: var(--blanco);
  font-weight: 700;
  text-transform: uppercase;
}

.btn-edit:hover {
  cursor: pointer;
  background-color: #1563e1;
  transition: 0.3s ease-in-out;
}

.btn-delete {
  width: 100%;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: rgb(214, 0, 0);
  color: var(--blanco);
  font-weight: 700;
  text-transform: uppercase;
}

.btn-delete:hover {
  cursor: pointer;
  background-color: rgb(154, 0, 0);
  transition: 0.3s ease-in-out;
}

/* Filters */
.filters {
  margin-top: 25px;
  background-color: var(--blanco);
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0px 0px 30px 14px rgba(0, 0, 0, 0.05);
}

.filter-box {
  display: flex;
  justify-content: space-around;
}

.filter-label {
  color: var(--gris-oscuro);
  font-weight: 700;
  font-size: 25px;
}

.filter-select {
  text-align: center;
  display: inline;
  padding: 5px 10px;
  width:70%;
  border: none;
  background-color: var(--gris-claro);
  border-radius: 5px;
}




